---
---

@import "{{ site.theme }}";

header {
    position: relative;
    z-index: 99;
}

.top-bar {
    width: 100%;
    padding: 0 0.5rem;
    background-color: #fff;
    opacity: .95;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
}

.sticky.is-stuck {
    position: fixed;
    z-index: 5;
}


.sticky.is-stuck.is-at-top {
    top: 0;
}

.top-bar > div > div {
    display: table-cell;
    vertical-align: middle;
    float: none;
}



.visually-hidden {
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}   

body {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #333;
    padding-top: 108px;
    font-weight: normal;
    line-height: 1.5;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.main-content {
    h1, h2, h3, h4, h5, h6 {
        color: #000;
    }
}

.row {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}